@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Beverly Downhill Zoo</h1>
 
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <!-- Första reklambilden -->
            <a href="https://www.sportson.se/produkt/karin-3-vxl-54640049">
                <img src="@Url.Content("~/Images/reklam1.jpg")" class="img-fluid" alt="Reklambild 1" style="max-width: 200px;">
            </a>

        </div>
        <div class="col-md-8">
            <!-- Stora bilden i mitten -->
            <img src="@Url.Content("~/Images/giraffe.jpg")" class="img-fluid" alt="Stor bild">
        </div>
        <div class="col-md-2">
            <!-- Andra reklambilden -->
            <a href="https://www.max.se/">
                <img src="@Url.Content("~/Images/reklam2.jpg")" class="img-fluid" alt="Reklambild 2" style="max-width: 200px;">
            </a>
            <a href="https://www.max.se/">
                <img src="@Url.Content("~/Images/gifReklam.gif.gif")" class="img-fluid"  style="max-width: 200px;">
            </a>
        </div>
    </div>
</div>



<button style="height: 500px; width: 800px; font-size: 160px;" class="btn btn-primary">DONATE TO US</button>
