@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Beverly Downhill Zoo</h1>
 
</div>
<img src="@Url.Content("~/Images/giraffe.jpg")" style="max-width: 100%; height: auto; />